html, body {
    background-color: #181818;
    color: white;
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin:0;  /* css reset! */
    padding:0;

}

/* header section */
.rps-title {
    width:50%;
    margin: 0 auto;
    font-size: 2rem;
}

h1 {
    display: inline-block;
    width: 33%;
    margin-bottom: 0;
}

.first {
    float: left;
}

.third {
    float: right;
}

.tournament-title h2,
.win-title h5 {
    margin: 0 auto;
}

/* display section */

.graphics {
    position: relative;
    width: 100%;
    height: 35vh;
    margin-top: 1rem;
    font-size: 1.5rem
}

.player-score {
    position: absolute;
    top: 0;
    left: 33%;
    padding: 0;
    bottom: 0;
    margin: 0;

}

.vertical-line {
    position: absolute;
    height: 35vh;
    width: 0.1%;
    background-color: white;
    left: 50%;

}

.computer-score {
    position: absolute;
    top:0;
    right: 33%;
    padding: 0;
    bottom: 0;
    margin: 0;
}

.user-weapon {
    position: absolute;
    bottom: 0;
    top: 40%;
    left: 0;
    right: 40%;
    max-width: 50%;
    padding: 0;
    margin: 0 auto;
}

.comp-weapon {
    position: absolute;
    bottom: 0;
    top: 40%;
    right: 0;
    left: 40%;
    max-width: 50%;
    padding: 0;
    margin: 0 auto;
}

/* messages */

.messages {
    margin: 1rem;
    max-height: 1.2rem;
    height: 1.2rem;
    overflow: clear;

}

/* selection and icons */

.selection {
    font-size: 1.5rem;
    height: 1rem;
    margin-bottom: 3.25rem;
    padding-bottom: 0;
}


.icons {
    filter: invert(1);
}

.icon {
    margin: 1em;
}


.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn {
    background-color: white;
    color: black;
    border-radius: 4px;
    display: inline-block;
    font-size: 1rem;
    padding: 1em 1.5em;
    font-family: 'Special Elite', cursive;
}

.btn:hover {
    background-color: #E0DFDF;
}

/* credits */

.credits {
    position: relative;
    border-top: 1px solid white;
    font-size: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
}


@media only screen and (max-width: 768px) {

    body,
    .graphics,
    .selections,
    .user-weapon,
    .comp-weapon,
    .selection {
        font-size: 1rem;
    }

    .rps-title {
        font-size: .75rem;
        display: inline-block;
        margin: auto;
    }

    h1 {
        margin-left: -2rem;
    }

}